.searchResult{
    margin-top: 20vh;
}
.resultTitle{
   text-transform: capitalize;
   font-size: 22px;
}
.noResult{
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.noResult img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.noResult div{
  margin-top: 10px;
  font-size: 20px;
}
.searchList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .searchList .searchCards {
    margin: 8px;
    width: 159px;
  }
  .searchList .searchCards .cardImage{
    border-radius: 8px;
    transition: all 0.5s;
    width: 100%;
    height: 240px;
  }
  .searchList .searchCards .cardImage:hover{
    transform:scale(1.05);
    /* box-shadow:  #091322 0px 5px 15px; */
  }
  .searchList .searchCards .title{
    color:#fff;
    font-weight: 500;
    font-size: 14px;
  }
  .searchList .searchCards .date{
  color: #fff;
  opacity: 0.5;
  font-size: small;

}

@media screen and (max-width: 768px) {
    .searchList .searchCards {
        width: 160px;
    flex-shrink: 0;
    gap: 30px;
      }
      .resultTitle{
        font-size: 18px;
     }
}